body {
    background-color: #95afd8;
    font-family: 'Lato', sans-serif;
}

.main-heading {
    text-align: center;
    font-size: 55px;
    margin-bottom: 30px;
}

#student-course {
    margin-bottom: 10px;
}

.centered {
    margin: 0 auto;
    text-align: center;
}
