{% extends "layout.html" %}
{% import "macros.html" as _ %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <script src="{{ url_for("static", filename="js/index.js") }}"></script>
{% endblock %}

{% block body %}
<h1 class="main-heading">Courseboards</h1>

<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
        <input id="student-course" class="form-control" placeholder="Class Name" autofocus>
        <div class="centered">
            <button id="join-student" class="btn btn-default">Join</button>
        </div>
    </div>
    <div class="col-xs-2">
    </div>
</div>
{% endblock %}
